.gamecenter(ng-controller='listCtrl as list')
  .row.addtolist
      .col-md-offset-2.col-md-8
        div.center(ng-show="postSuccess") 
          span.glyphicon.glyphicon-ok
          p Added to list!
        div.dupe.center(ng-show="isDuplicate") That username already exists in the list.
        .form-show(ng-show="!postSuccess")
          p(ng-show="postError", ng-click="errorHandler()").center {{errMessage}}
          form(name="newuserForm", ng-submit="newuserForm.$valid && !isDuplicate && addUser()" novalidation).form-inline
            .form-group
              input.form-control(type='text', placeholder="Game Center Name", ng-model='newuser.username' ng-change="checkForDupes()", ng-maxlength='30', ng-init="newuser.game_id=this.gameId", ng-class="{'formerror': isDuplicate == true}" required)
              input.form-control(type='text', placeholder='Short Message', ng-model='newuser.message', ng-maxlength='140' required)
              div.recaptcha(vc-recaptcha, ng-show='newuser.username.length || newuser.message.length' theme='dark', key="'6LdN3hwTAAAAAGV-iygBG_RA1XpSQ0AWsdjE0wEO'", ng-model="newuser.recaptchaResponse")
              input.form-control(type='submit', value='Join List')

              //-TODO: single page app reddit multi TIME!
    .row(ng-show='newuser.username.length || newuser.message.length')
      .col-md-offset-2.col-md-8
        .table-responsive
          table.table
            col.col1
            col.col2
            col.col3
            thead
              tr
                th Preview:
                th
                th
              tr
                th
                  | Username (Characters Left: {{30 - newuser.username.length}})
                th
                  | Optional Message (Characters Left: {{140 - newuser.message.length}})
                th.center Added
            tbody
              tr
                td {{newuser.username}}
                td {{newuser.message}}
                td.center
                  button.btn.btn-default.btn-xs(ng-click="addUser()")
                    span.glyphicon.glyphicon-ok
    .row
      .col-md-offset-2.col-md-8
        .table-responsive
          table.table
            col.col1
            col.col2
            col.col3
            thead
              tr
                th Username
                th Message
                th.center Added
            tbody
              tr(ng-repeat='user in friendlist.friendlist')
                td {{user.username}}
                td {{user.message}}
                td.center
                  button.btn.btn-default.btn-xs(type='button', ng-click='friendlist.friendlist.splice($index, 1)')
                    span.glyphicon.glyphicon-ok
              tr(ng-show='!friendlist.friendlist.length')
                td There's no one left to add!
